.header {
    vertical-align: middle;
    text-align: center;
    height: 80px;
    background-color: deeppink;
    color: white;
    font-size: 30px;
    border: solid;
    margin-bottom: 5px;
}

.class_container_Sidebar {
    width: 120px;
    height: 500px;
    background-color:#c0c0c0;
    color: white;
    border: solid;
}

.button_sidebar {
    margin-top: 5px;
    font-size: 25px;
    border: solid;
    color: white;
    text-align: center;
    padding: 5px;
}

.class_container_Main {
    height: 500px;
    background-color: #c0c0c0;
    text-align: center;
    color: white;
    font-size: 50px;
    border: solid;
}

.footer {
    height: 60px;
    background-color: deeppink;
    font-size: 20px;
    color: white;
    border: solid;
    margin-top: 5px;
}

