.header {
    height: 100px;
    background-color: deeppink;
    text-align: center;
    color: white;
    font-size: 50px;
    border: solid;
    margin-bottom: 5px;
}

.button_img {
    width: 150px;
    height: 30px;
}

body {
    background-color: grey;
}