.header {
    vertical-align: middle;
    text-align: center;
    height: 80px;
    background-color: deeppink;
    color: white;
    font-size: 30px;
    border: solid;
    margin-bottom: 5px;

}
.button_img {
    width: 100px;
    height: 30px;
}

body {
    background-color: grey;
}