.container {
    height: 500px;
    text-align: center;,
}

.container:before {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.element {
    display: inline-block;
    vertical-align: middle;  /* vertical alignment of the inline element */
}

.item_main {
    height: 75px;
    width: 75px;
}

.main {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: solid;
}

.icon {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.icon_name {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

/* Styles for countdown.html */

.clocknav {
    background-color: rgba(110, 110, 110, 0.7);
    font-size: 18px;
    text-align: left;
    margin-bottom: 5px;
    padding: 5px;
}

.clocktext {
    padding-top: 15px;
    font-size: 18px;
    color: white;
    background-color: rgba(201, 201, 201, 0.7);
}

.clockbox {
    font-size: 25px;
    padding: 25px;
}


/* styles for map.html */

.maps_container {
    height: 400px;
    width: auto;
    text-align: center;
    margin-right: auto;
    margin-left: auto;

}


/* styles for info.html*/
.content-info {
    height: 500px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.btn_infohtml {
    height: 35px;
    margin-bottom: 10px;
}

/* styles for news.html */


#social_btn {
    width: 100%;
    height: 25px;
    background-color: rgba(201, 201, 201, 0.7);
}

#grow input:checked {color:red;}

#social_btn:hover{color:#000000;}

#grow {
    -moz-transition: height .5s;
    -ms-transition: height .5s;
    -o-transition: height .5s;
    -webkit-transition: height .5s;
    transition: height .5s;
    height: 0;
    overflow: hidden;
}






body {
    height: 100%;
    margin: 0px;
    padding: 0px;
   background: linear-gradient( rgba(33,42,82,0.7), rgba(36,87,162,0.7)),  url("../img/background.png") center ;
}

