<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.electriclove.at/"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "at.electriclove"
        versionCode = "10"
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

	
	<icon src="img/max/icon.jpg" platform="android" width="48" height="48" density="mdpi" />
    <name>ELF15</name>	

    <description>
        The Festival App for Electric Love 2015
    </description>

    <author href="http://www.electriclove.at/de/home" email="matthias.wanner@gmx.net">
        Matthias Wanner
    </author>

    <gap:platform name="ios" />
    <gap:platform name="android" />
    <gap:platform name="winphone" />

</widget>