/* Farbverlauf von: #212a52 Zu #2457a2
            rgba(33, 42, 82, 1)  zu rgba(36, 87, 162, 1)*/

html, body {
    height: 100%;
}
.parent {
    width: 100%;
    height: 100%;
    display: table;
    text-align: center;
}
.parent > .child {
    display: table-cell;
    vertical-align: middle;
}

.item_main {
    height: 80px;
    width: 60px;
}

.spinning:hover {
    -webkit-animation:spin 0.5s linear ;
    -moz-animation:spin 0.5s linear ;
    animation:spin 0.5s linear ;
}

.clock_spinning {
    margin: 20px auto auto auto;
    -webkit-animation:circle 60s linear infinite;
    -moz-animation:circle 60s linear infinite;
    animation:circle 60s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotateY(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotateY(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotateY(360deg); transform:rotateY(360deg); } }

@-ms-keyframes circle {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes circle {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes circle {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes circle {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.main {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: solid;
}

.content-info {
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    text-align: center;
    color: #ffffff
}

#text {
    font-size: 25px;
    color: #ffffff;
    font-style: italic;
}

.icon {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.icon_name {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}


/* styles for map.html*/

.google-maps {
    position: relative;
    padding-bottom: 120%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
}
.google-maps #googleMap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.pag {
    margin: 18px 0 8px 0;
    font-family: elfFont;
}

/* styles for timetable*/

.tt_info {
    background-color: rgba(110, 110, 110, 0.7);
    margin: 10px 10px 0 10px;
}

.tt_info:hover {
    background-color: rgba(163, 22, 0, 0.85);
}

.tt_row {
    color: #ffffff;
    padding: 0;
    margin: 0;
}

.tt_element {
    background-color: rgba(110, 110, 110, 0.7);
}

.tt_element:hover {
    background-color: rgba(42, 42, 42, 0.70);
}

.tt_text {
    text-align: center;
    height: 100px;
    font-family: elfFont;
    line-height: 100px;
    font-size: 30px;
}

.tt_img {
    height: 100px;
    margin-bottom: 50px;
    
}
/* styles for timetable_artists*/

.pill {
    padding: 0;
    margin: 0 -2px 0 0;
    border-bottom: 2px solid #808080;
    border-right: 2px solid #808080;
    border-top: 2px solid #808080;
    border-radius: 0;

}

.nav-pills>li>a {
    border-radius: 0;
}

.try.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    background-color: red;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    background-color: rgba(36, 87, 162, 1);
}

.nav>li>a {
    padding: 7px 2px 5px 2px;
}

.options {
    border-radius: 0;
    padding: 5px;
    height: 50px;
    width: 100%
}

.tt_tab {
    text-decoration: none;
    color: #ffffff;
    font-size: 17px;
    font-family: elfFontBold;
    padding: 0;

}

.row_container {
    height: 100px;
    background-color: rgba(110, 110, 110, 0.7);
    color: #ffffff;
    text-align: left;
    padding: 0;
    margin: 5px 0 0 0 ;
}

.row_container:hover {
    background-color: rgba(42, 42, 42, 0.70);
}

.a_img {
    height: 100px;
    float: left;
    margin-right: 10px;
}

.a_name {
    height: 45px;
    line-height: 45px;
    font-family: elfFont;
    font-size: 20px;
}

.a_hr {
    margin: -5px 10px 5px 0;
}

.a_info {
    height: 25px;
    line-height: 25px;
    font-size: 16px;
    font-family: elfFontBold;
}

.tt-modal-dialog {
    margin: 100px auto 0 auto;
    height: 200px;
    width: 200px;
}

.tt-modal-content {
    background-color: rgba(110, 110, 110, 1);
    border-radius: 0;
}

/* styles for timetable_stages*/

.stage_row {
    padding: 0;
    margin: 0 0 10px 0;
}

.stage_img {
    padding: 0;
}

.stage_text {
    height: 30px;
    font-size: 20px;
    line-height: 30px;
    font-family: elfFont;
    background-color: rgba(110, 110, 110, 0.7);
}

.stage_info {
    font-family: elfFont;
    font-size: 16px;
    color: #ffffff;
    background-color: rgba(110, 110, 110, 0.7);
    text-align: justify;
    padding: 10px;
    margin-bottom: 10px;
}

.stage_row:hover .stage_img {
    -webkit-animation:diff1 0.2s linear;
    -moz-animation:diff1 0.2s linear ;
    animation:diff1 0.2s linear ;

}

.stage_row:hover .stage_text {
    background-color: rgba(42, 42, 42, 0.70);
    -webkit-animation:diff2 0.2s linear ;
    -moz-animation:diff2 0.2s linear ;
    animation:diff2 0.2s linear ;

}

@-moz-keyframes diff1 { 100% { -moz-transform: translate(300px, 0); } }
@-webkit-keyframes diff1 { 100% { -webkit-transform: translate(300px, 0); } }
@keyframes diff1 { 100% { -webkit-transform: translate(300px, 0); transform: translate(300px, 0); } }

@-moz-keyframes diff2 { 100% { -moz-transform: translate(-300px, 0); } }
@-webkit-keyframes diff2 { 100% { -webkit-transform: translate(-300px, 0); } }
@keyframes diff2 { 100% { -webkit-transform: translate(-300px, 0); transform: translate(-300px, 0); } }

/* styles for information.html/following and information.css*/

#social_btn {
    width: 100%;
    height: 25px;
    background-color: rgba(201, 201, 201, 0.7);
}

.logo_height {
    height: 90px;
}

.logo_height:hover {
    -webkit-box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.5);
}

.header_arrow_back {
    height: 30px;
    width: 86px;
    float: left;
    margin: 10px -70px 0 10px;
}

.header_arrow_home {
    height: 30px;
    width: 152px;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}

.header_div {
    height: 50px;
    margin-bottom: 5px;
    background-color: rgba(110, 110, 110, 0.7);
    color: #ffffff;
    text-align: center;
    font-family: elfFont;
    line-height: 50px;
    font-size: 25px
}

.header_div:hover {
    background-color: rgba(42, 42, 42, 0.70);
}

.header_back {
    background-color: rgba(110, 110, 110, 0.7);
    font-size: 18px;
    text-align: left;
    margin-bottom: 5px;
    height: 40px;
    padding: 5px;
}

.header_back:hover {
    background-color: rgba(42, 42, 42, 0.70);
}

.header_title {
    background-color: rgba(110, 110, 110, 0.7);
    font-size: 22px;
    color: #ffffff;
    text-align: center;
    font-style: normal;
    margin-bottom: 5px;
    padding: 5px;
}

.faq_text {
    padding: 10px;
    font-size: 16px;
    color: #ffffff;
    width: auto;
    text-align: left;
    background-color: rgba(110, 110, 110, 0.7);
}

.collapse{
    padding-left: 5px;
    text-align: left;
    font-size: 21px;
    font-style: normal;
    display:block;
    color: #ffffff;
    visibility: visible;
    background-color: rgba(51, 51, 51, 0.75);
    height: auto;
    line-height: 50px;
    margin-bottom: 10px;
}

.collapse + input + img {
}

.collapse + input {
    display:none;
}
.collapse + input + * {
    display:none;
}
.collapse + input:checked + * {
    display:block;
    height:auto;

}
.text_shown{
    background-color: rgba(110, 110, 110, 0.7);
    color: #ffffff;
    height:auto;
    margin-bottom: 10px;
    margin-top: -10px;
    padding: 5px;
    text-align: justify;
    font-size: 18px;
}

.plus_img{
    height: 30px;
    width: 30px;
    float: right;
    margin-top: 10px;
    margin-right: 7px;
}

/* styles for artist.html and different artists */

.artist_img {
    height: 79px;
    width: 79px;
    float: left;
}

.artist_container {
    height: 80px;
    padding:0;
    border-bottom: 1px solid #ffffff;
}

.artist_text {
    background-color: rgba(110, 110, 110, 0.7);
    color: #ffffff;
    background-clip: content-box;
    text-align: center;
    margin: 0;
    vertical-align: middle;
    line-height: 80px;
    font-size: 20px;
    font-family: elfFont;
}

.artist_text:hover {
    background-color: rgba(42, 42, 42, 0.70);
}

.arrow_right {
    height: 30px;
    width: 30px;
    margin-top: 25px;
    margin-right: 5px;
    float: right;
}


.artist_home {
    background-color: rgba(110, 110, 110, 0.7);
    color: #ffffff;
    height: 300px;
    width: 100%;
    padding: 5px;
    text-align: justify;
    font-size: 18px;
    overflow: scroll;
    margin-bottom: 5px;

}

.artist_social {
    height: 40px;
    margin-top: 5px;
    background-color: rgba(110, 110, 110, 0.7);
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
}

.artist_soc_btn {
    height: 30px;
    width: 30px;
    margin-top: 5px;
    margin-right: 25px;
}

/* styles for love.html*/
.alink {
    text-decoration: none;
    color: #ffffff;
}

.outer {
    position: relative;
    height: 140px;
}

.text_field {
    width: 75%;
    height: 75%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    font-family: elfFont;
    font-size: 16px;
}


.img_field {
    margin: 20px auto auto auto;
    height: 100px;

}

.row_style {
    height: 140px;
    background-color: rgba(110, 110, 110, 0.7);
    padding: 0;
    margin: 10px 0 0 0;
}

.row_style:hover {
    color: #ffffff;
    background-color: rgba(42, 42, 42, 0.70);
}


/* styles for merch.html*/

.banner {
    height: auto;
    color: #ffffff;
    line-height: 40px;
    background-color: rgba(163, 22, 0, 0.85);
    font-family: elfFont;

}

.merch_text {
    height: auto;
    width: 100%;
    font-family: elfFont;
    color: #ffffff;
    position: absolute;
    margin-top: 5px;
    border-top: 1px solid #ffffff;
    vertical-align: middle;

}

.merch_container {
    height: 200px;
    color: #ffffff;
    background-color: rgba(110, 110, 110, 0.7);
    margin-top: 5px;
    position: relative;
    padding: 0;
    border: 1px solid #ffffff;
}

.merch_img{
    margin-top: 5px;
    height: 100px;
    width: auto;
}

/* styles for gallery.html*/

.swipe {
    overflow: hidden;
    position: relative;
    width: 100%;
    margin: 0 auto 0;
}
.swipe-wrap {
    overflow: hidden;
    position: relative;
}
.swipe-wrap > div {
    float: left;
    width: 100%;
    position: relative;
}

.navbutton {
    height: 40px;
    line-height: 40px;
    font-family: elfFont;
    font-size: 20px;
    margin-top: 5px;
    background-color: rgba(110, 110, 110, 0.7);
}

.nav.prev:hover {
    color: #ffffff;
    background-color: rgba(42, 42, 42, 0.70);
}

.nav.next:hover {
    color: #ffffff;
    background-color: rgba(42, 42, 42, 0.70);
}

/* Styles for offlinemap.html */

.numbers {
    padding: 0;
    text-align: center;
    font-family: elfFont;
    font-size: 34px;
    font-weight: bold;
    font-style: normal;
    color: #FFFFFF;
    height: 40px;
}
.title {
    border-style: none;
    text-align: center;
    font-family: elfFont;
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
    height: 40px;

}
.countdown_text {
    font-family: elfFont;
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    height: 100px;
    line-height: 45px;
}


/* styles for food.html*/

.food_container {
    height: 80px;
    border-bottom: 1px solid #ffffff;
    text-align: center;
    line-height: 80px;
    background-color: rgba(110, 110, 110, 0.7);
    font-family: elfFont;
    font-size: 20px;
    color: #ffffff;
}

.food_container:hover {
    background-color: rgba(42, 42, 42, 0.70);
}



/* overall used font */
@font-face {
    font-family: elfFont;
    src: url(../fonts/Exo-DemiBold-Italic.otf);
}
@font-face {
    font-family: elfFontBold;
    src: url(../fonts/Exo-DemiBold.otf);
}

/* smaller margins to the horizontal divider*/

hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

body {
    background: linear-gradient( rgba(33,42,82,0.7), rgba(36,87,162,0.7),rgba(33,42,82,0.7)),  url("../img/background.png") center;
}


